html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: Iansui;
  height: 100dvh;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  color: #d8ecf8be;
  background: #05060f linear-gradient(0deg, rgba(216, 236, 248, .06), rgba(152, 192, 239, .06));
}

.page {
  min-height: 100dvh;
  min-width: 100vw;
}

.horizontal .page {
  max-width: 42rem;
  min-width: 42rem;
}

.swiper {
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 2rem;
}

.swiper .item {}

.swiper .item img {
  border-radius: 2em;
  border-radius: 0.75rem;
  border: 1px solid #878DB1;
  width: 5rem;
  height: 5rem;
}

@font-face {
  font-family: 'Iansui';
  src: url('Iansui-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'UoqMunThenKhung';
  src: url('UoqMunThenKhung-1.000.ttf') format("truetype");
}

/*@font-face {
  font-family: 'KsoBunryu';
  src: url('KsoBunryu.otf') format("opentype");
}

@font-face {
  font-family: 'KsoKanteiryu';
  src: url('KsoKanteiryu.otf') format("opentype");
}

@font-face {
  font-family: 'KsoYose';
  src: url('KsoYose.otf') format("opentype");
}*/